<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Bez tohohle Termuxu vubec neposleme prikaz - viz TermuxController.kt -->
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <!-- Android 11+ (API 30+) potrebuje explicitni package visibility deklaraci,
         jinak appka Termux vubec "nevidi" (PackageManager ho neukaze). -->
    <queries>
        <package android:name="com.termux" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversalDownloader"
        android:usesCleartextTraffic="true">
        <!--
          usesCleartextTraffic="true" je potreba, protoze appka mluvi s
          Termux serverem pres obycejne http://127.0.0.1 (ne https).
          127.0.0.1 nikdy neopusti zarizeni.
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.UniversalDownloader"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShareReceiverActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>
